//COLOR:
$BLACK: #000000;
$GRAY_6: #666666;
$GRAY_9: #999999;
$GRAY_A: #AAAAAA;
$GRAY_E: #EEEEEE;
$WHITE: #FFFFFF;
$BLUE: blue;
$RED: red;
$GREEN: green;

//SIZE:
$MAX-WIDTH: 1264px;

//MIXINS
@import "./../mastak-lib/mixins";