include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden")
        +loader('loader__spinner_egg')
        .app
            +header()
            .app__content
                +lesson-menu()
                +lesson()
            +footer()