mixin lesson()
    main.lesson
        hedaer.lesson__header
            h1.lesson__title Уровень 1
            p.lesson__description Проверь себя, решив 10 примеров по математике
        #lesson.lesson__content(data-level="36")